<% content_for :navigation do %>
  <div id="navigation">
    <div class="navigation-section">
      <span class="navigation-section-title">Counting</span>
      <ul>
        <% @counting.project.countings.each do |counting| %>
          <li class="<%= counting == @counting ? 'current-item' : 'item' %>"><%= link_to counting.name, counting_path(counting) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
