<%= render_title 'About' %>
<h1>About PaleoLog</h1>
<dl class="fields">
	<dt>Author</dt><dd>Michał Radmacher</dd>
	<dt>E-mail</dt><dd>michal@radmacher.pl</dd>
	<dt>Site</dt><dd><%= link_to 'http://radmacher.pl', 'http://radmacher.pl' %></dd>
</dl>
