<%= render_title 'Home' %>
<% content_for :navigation do %>
  <%= render :partial => 'layouts/navigation',
      :locals => { :items => site_navigation_for( :index ) } %>
<% end %>
<p>Tool for micropaleontologists</p>
