<% content_for :navigation do %>
  <div id="navigation">
    <div class="navigation-section">
    <span class="navigation-section-title">Region</span>
    <ul>
      <% Region.all.each do |region| %>
        <li class="<%= region == @region ? 'current-item' : 'item' %>"><%= link_to region.name, region_path( region ) %></li>
      <% end %>
    </ul></div>
  </div>
<% end %>

