<%= render_title 'Projects' %>

<% if current_user.admin? %>
	<%= render_actions [['Add project', new_region_path]] %>
<% end %>
<%= render_heading 'Projects' %>

<ul>
	<% @regions.each do |region| %>
		<li><%= link_to region.name, region %></li>
	<% end %>
</ul>

