<% unless @image.specimen.nil? %>
  <%= render_title @image.specimen.name %>
<% end %>
<%= render_actions [['Cancel', specimen_path(@image.specimen_id)]] %>
<% content_for :breadcrumb do %>
  <%= link_to bracketize(@image.specimen.name), specimen_path(@image.specimen) %>
<% end %>
<h1>Editing image</h1>

<%= render 'form' %>

